
  #title,
  #subtitle,
  #post_title {
    color: crimson;
  }

  .photo {
    border: 1px solid #505050;
    border-radius: 50px;
  }

  .title {
    font-size: 40px;
    text-transform: uppercase;
    color: #505050;
  }

  .post_title {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;

  }

  .post_title2 {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;

  }

  .body {
    background: #7f7f7f;
    font-family: Verdana;
    max-width: 900px;
    margin: auto;
  }

  .post {
    background: white;
    padding: 15px;
    border: 3px solid #505050;
    margin-bottom: 15px;
    border-radius: 10px;
  }

  .css3 {
    background: white;
    padding: 15px;
    border: 3px solid #505050;
    margin-bottom: 15px;
    border-radius: 10px;

  }

  .post_content {
    margin: 0;
    margin-bottom: 15px;
    text-transform: none;
    text-align: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}


  .post_image {
    margin-bottom: 15px;
    width: 90%;
  }

  .contact_list {
    list-style-type: none;
    padding-left: 15px;

  }

  .contact_list li a {
    text-decoration: none;
  }

